@media (min-width:100px) and (max-width:350px)
{
.loader {
    z-index:33333333333333;
    position: absolute;
    top:30%;
    left:33%;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loading {
    position: absolute;
    font-family: arial;
    font-size: 4vh;
    top: 50%;
    left: 36%;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
}
@media (min-width:351px) and (max-width:576px) {
    .loader {
        z-index: 33333333333333;
        position: absolute;
        top: 30%;
        left: 33%;
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    .loading {
        position: absolute;
        font-family: arial;
        font-size: 4vh;
        top: 50%;
        left: 36%;

    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

@media (min-width:577px) and (max-width:768px) {
    .loader {
        z-index: 33333333333333;
        position: absolute;
        top: 30%;
        left: 36%;
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    .loading {
        position: absolute;
        font-family: arial;
        font-size: 4vh;
        top: 50%;
        left: 38%;

    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

/* 
WRITE  min-width: 769px to 2000px for normal height below
*/






/* 
WRITE  min-width: 769px to 2000px for normal height above
*/
@media (min-height:650px) {
@media (min-width:769px) and (max-width:992px) {
    .loader {
        z-index: 33333333333333;
        position: absolute;
        top: 33%;
        left: 41%;
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    .loading {
        position: absolute;
        font-family: arial;
        font-size: 2.5vh;
        top: 40%;
        left: 35%;

    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

@media (min-width:993px) and (max-width:1400px) {
    .loader {
        z-index: 33333333333333;
        position: absolute;
        top: 30%;
        left: 43%;
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 140px;
        height: 140px;
        animation: spin 2s linear infinite;
    }

    .loading {
        position: absolute;
        font-family: arial;
        font-size: 3vh;
        top: 37%;
        left: 35%;

    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}
}
