
@media (min-width:100px) and (max-width:368px) {

    .loginForm {

        width: 90vw;
        margin-left: 5vw;
        margin-top: 10vh;

    }

    .ReglinkText {

        position: relative;
        text-decoration: underline;
        color: blue;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: larger;
    }

    .submitButton {
        margin-left: 37%;
    }

}

@media (min-width:368px) and (max-width:768px) {

    .loginForm {

        width: 90vw;
        margin-left: 5vw;
        margin-top: 10vh;
        font-size: larger;
    }

    .emailBox, .passwordBox{

        font-size: larger;
    }

    .ReglinkText {

        position: relative;
        text-decoration: underline;
        color: blue;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
    }

    .submitButton {
        margin-left: 37%;
        font-size: larger;
    }

}



@media(min-width:768px) and (max-width:992px){
.loginForm{
    
    display:flex ;
    align-items: center;
    justify-content: center;
    width:70vw;
    height:fit-content;
    margin-left:16vw;
    margin-top: 10vh;
    font-size: 1.5rem;

}

.emailBox,
.passwordBox {

    font-size: 1.4rem;
}

.ReglinkText {

    position: relative;
    text-decoration: underline;
    display:flex;
    align-items: center;
    justify-content:center;
    color:blue;
    cursor:pointer;
    text-align: center;
    
    
}

.submitButton{
    margin-left: 37%;
    font-size: 1.2rem;
}

}

@media(min-width:992px) and (max-width:2000px) {
    .loginForm {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 90vw;
        height: fit-content;
        margin-left: 4vw;
        margin-top: 20vh;
        font-size: 3rem;

    }

    .emailBox,
    .passwordBox {
        
        font-size: 2.5rem;
        
    }

    .ReglinkText {

        position: relative;
        text-decoration: underline;
        display: flex;
        align-items: center;
        justify-content: center;
        color: blue;
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        margin-left: 0vw;

    }

    .submitButton {
        margin-left: 37%;
        font-size: 2rem;
    }

}

